*
!autostart.sh
!compton.conf
!autostart
!autostart/discord.sh
!termite/*
!termite/**
!termite/**/*
!termite
!omf/*
!omf
!fish/*
!fish/**
!fish/**/*
!fish
fish/fish_variables
!i3/*
!i3
!gtk-3.0
!gtk-3.0/*
!kitty
!kitty/*
!.zsh
!.zsh/.zshrc
!.vim
!.vim/*
!.vim/**/*
!nvim
!nvim/
!nvim/**/*
!scripts
!scripts/**/*
.vim/plugged
.vim/bundle
!__move_contents_to_home__
!__move_contents_to_home__/*
!screenshot.png
!rofi
!rofi/*
!wallpapers
!wallpapers/*


!README.md
!.gitignore
