*
!autostart.sh
!compton.conf
!autostart
!autostart/discord.sh
!termite/*
!termite/**
!termite/**/*
!termite
!omf/*
!omf
!fish/*
!fish/**
!fish/**/*
!fish
!i3/*
!i3
!gtk-3.0
!gtk-3.0/*
!README.md
!.gitignore
